{% extends "base.html" %}
{% block title %}{{ campaign.title }}{% endblock %}
{% block content %}
<div class="my-8">
  <h1 class="text-4xl font-bold mb-6 text-white">{{ campaign.title }}</h1>

  {% include "campaigns/components/_campaign_description.html" %}
  {% include "campaigns/components/_chapter_list.html" %}

  <div class="text-right mt-8">
    <a href="{% url 'campaigns:campaign_list' %}" class="inline-block px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-600">Back to Campaigns</a>
  </div>
</div>
{% endblock %}
